- var praise = 35
- var collect = 20
- var comment = 15



#rightBar
  #personInfo_block
    #personInfo_bg
    div.user_pic#user_pic_sm
      img(src="/img/user/user.jpg")
    h3.user_name= user.userName
    a(href="javascript:;")= user.isPublic==true?'屏蔽':'已屏蔽'

  #result_block
    h4 我的收获
    ul
      li
        .result_number= user.myLikes.shares.length
        .result_text 赞
      li
        .result_number= user.myCollections.shares.length
        .result_text 收藏
      li
        .result_number= user.myComments.shares.length
        .result_text 评论