- var pages = [1,2,3];

if shares.length>0
    #user_display
        #user_display_block
            each sharing in shares
                .sharing_div(id= sharing._id)
                    a.sharing_user_pic(href='/user?userId=#{sharing.userId._id}')
                        // 这里的用户名和用户头像要改
                        if sharing.userId.portraitUrl
                            img(src='/image?imageId=' + sharing.userId.portraitUrl)
                        else
                            img(src='../img/user/user.jpg')
                    .sharing_content
                        a(href='/user?userId=#{sharing.userId._id}')
                            h4.sharing_user_name= sharing.userId.userName
                        .sharing_time= moment(sharing.created).format("YYYY-MM-DD HH:mm:ss")
                        p.sharing_text= sharing.content
                        if sharing.images.length == 1
                            #picPanel
                                each pic in sharing.images
                                    img#big(src='/image?imageId=' + pic)
                        else
                            #picsPanel
                                each pic,item in sharing.images
                                    if item == 0
                                        img#big(src='/image?imageId=' + pic)
                                #row
                                    each pic,item in sharing.images
                                        if item >= 1
                                            img#singlePic(src='/image?imageId=' + pic)

                    .sharing_footer
                        ul
                            li
                                if isLiked(sharing._id) == false
                                    a.praise_block
                                        span
                                            span 赞(#{sharing.likeNum})
                                else
                                    a.praise_block.active
                                        span
                                            span 赞(#{sharing.likeNum})
                            li
                                a(href='/share?shareId=#{sharing._id}').comment_block
                                    span
                                        span 评论(#{sharing.comment.length})
                            li
                                if isCollected(sharing._id) == false
                                    a.collect_block
                                        span
                                            span 收藏(#{sharing.collectionNum})
                                else
                                    a.collect_block.active
                                        span
                                            span 收藏(#{sharing.collectionNum})


    //#pagination_block
        ul.pagination#pagination
            li: a(href="#") &lt;
                each val in pages
                    li: a(href="#")= val
            li: a(href="#") &gt;
else
    #user_display.sp.sp1 空空如也