- var praise = 35
- var collect = 20
- var comment = 15
- var focus = [{id: 1, name: '阿拉蕾77', pic: '/img/user/user.jpg'},{id: 1, name: '阿拉蕾77', pic: '/img/user/user.jpg'},{id: 1, name: '阿拉蕾77', pic: '/img/user/user.jpg'},{id: 1, name: '阿拉蕾77', pic: '/img/user/user.jpg'},{id: 1, name: '阿拉蕾77', pic: '/img/user/user.jpg'}]



#rightBar
  #personInfo_block
    #personInfo_bg
    div.user_pic#user_pic_sm
      img(src="/img/user/user.jpg")
    h3.user_name= user.userName
    a#concern(href="javascript:;") 关注我
    a#mask(href="javascript:;")= user.isPublic==true?'屏蔽':'已屏蔽'

  #result_block
    h4 我的收获
    ul
      li
        .result_number= user.myLikes.shares.length
        .result_text 赞
      li
        .result_number= user.myCollections.shares.length
        .result_text 收藏
      li
        .result_number= user.myComments.shares.length
        .result_text 评论

  #focus_block
    h4 我的关注
    ul
      each user in focus
        li
          a(href="/user/#{user.id}")
            .focus_user_pic
              img(src=user.pic)
            h5= user.name