link(rel="stylesheet",href="/stylesheets/bootstrap.css")
link(rel="stylesheet",href="/stylesheets/backstage.css")

#userBlock
	#backstageTitle 用户管理
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th 用户名
						th 发布分享
						th 是否屏蔽
						th 创建时间
						th 操作
				tbody
					each user in users
						tr(class="item-id-#{user._id}")
							td= user.userName
							td= user.myShares.shares.length
							td.shield= user.isPublic == true ? '否' : '是'
							td #{moment(user.created).format("YYYY-MM-DD HH:mm:ss")}
							td
								if user.isPublic == true
									button.btn.btn-danger(data-id=user._id) 屏蔽
								else
									button.btn.btn-success(data-id=user._id) 解除屏蔽




script(src="js/jquery.min.js")
script(src="/js/backstage.js")
