mixin discuss(comment,user)
    #discussList.clearfix
        #discussContent.clearfix
            img(src='/image?imageId=#{comment.userId.portraitUrl}')
            <strong> #{comment.userId.userName}</strong> #{comment.content}
        #discussDetail
            span= moment(comment.created).format("YYYY-MM-DD HH:mm:ss")
            a(id= '#{id}') 回复
#discussion
    if share.comment
        each comment in share.comment
            +discuss(comment,user)