extends ../layout

block append style
    link(rel='stylesheet',href='/stylesheets/share.css')
    link(rel='stylesheet',href='/stylesheets/comment.css')
    link(rel='stylesheet',href='stylesheets/picture.css')

block content
    #share-container.clearfix
        #sharer.clearfix
            if user.portraitUrl
                img(src= '#{user.portraitUrl}')
            else
                img(src= '../img/user/test4.jpg')
            p#Name=user.userName
            p
                span#data=moment(share.created).format("YYYY-MM-DD HH:mm:ss")
                //span#time #{time} 19:30
            #paragraph=share.content
        #sharerPicture
            //-条件判断图片数量
            if share.images
                #picPanel
                    each pic in share.images
                        img#singlePic(src='/image?imageId=' + pic)
        #sharePanel.clearfix
            if info.isCollect == false
                #collect
                    span=share.collectionNum
            else
                #collect.active
                    span=share.collectionNum
            #comment
                span=share.comment.length
            if info.isLike == false
                #praise
                    span=share.likeNum
            else
                #praise.active
                    span=share.likeNum
        #share-comment.clearfix
            #share-input(contenteditable=true)
            input.btn.btn-danger.btn-sm(type='button',value='评论')
        include comment

    script(src="/js/tools.js")
    script(src="/js/jquery.min.js")
    script(src="/js/shareDeail.js")
